.header {
    background-color: #111118;
    display: flex;
    align-items: center;
    color: white;
  
    .fi-menu {
      width: 30px;
      height: 30px;
      margin-left: 15px;
      margin-top: 8px;
      cursor: pointer;
    }
  
    .sidebar-list {
      position: absolute;
      left: 0;
      top: 70px;
      bottom: 0;
      padding: 1em;
      background-color: #111118;
      list-style: none;
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      width: 200px;
  
      ul {
        display: flex;
        flex-direction: column;
        color: white;
        li {
          padding: 0.5em;
          list-style: none;
          color: white;
          margin: 15px 0 15px 0;
  
          .link {
            color: #fffbff;
            text-decoration: none;
            font-size: 15px;
            font-weight: bold;
            padding: 8px 20px;
            margin: 20px 5px 5px 10px;
            background-color: #222230;
  
            &:hover {
              background: #42425e;
            }
          }
        }
      }
    }
  
    h2 {
      margin-left: 10px;
    }
  
    .filler {
      flex: 1 1 auto;
    }
  }
  
  @media (max-width: 900px) {
    .header {
      .title-with-logo {
        display: none;
      }
    }
  }
  
  @media (max-width: 320px) {
    .nav {
      display: none;
    }
  
    .header {
      .title-with-logo {
        display: flex;
        font-size: 14px;
      }
    }
  }