.DetailRestaurant {
    width: 80%;
    margin: auto;
  
    .details-container {
      display: flex;
      flex-direction: column;
      height: 6em;
      justify-content: space-around;
    }
  
    .link-back-container {
      margin-top: 2em;
  
      .link {
        color: #fffbff;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        padding: 0.8em 1.5em;
        border-radius: 4%;
        background: #e06060;
  
        &:hover {
          background: #461c1c;
        }
      }
    }
  }